.VideoWindow {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}

.GoBack {
    display: flex;
    margin-right: 30px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.GoBack:active {
    border: 1px solid gray;
}